@media  screen and (max-width: 1050px) {

   .itemsrowsignin{
        width: 0vw;
        height: 0vh;
    }
    .itemsrowsignin{
        visibility: hidden;
    }
   .sposorad{
       width: 0vw;
       height: 0vh;
    }
    
}